@font-face {
    font-family: 'Gastreet Font';
    src:url('../fonts/GastreetSans/GastreetFont.eot');
    src:url('../fonts/GastreetSans/GastreetFont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GastreetSans/GastreetFont.woff2') format('woff2'),
        url('../fonts/GastreetSans/GastreetFont.woff') format('woff'),
        url('../fonts/GastreetSans/GastreetFont.ttf') format('truetype'),
        url('../fonts/GastreetSans/GastreetFont.svg#GastreetFont') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'Gastreet Sans';
    src:url('../fonts/GastreetSans/GastreetSans-Regular.eot');
    src:url('../fonts/GastreetSans/GastreetSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GastreetSans/GastreetSans-Regular.woff2') format('woff2'),
        url('../fonts/GastreetSans/GastreetSans-Regular.woff') format('woff'),
        url('../fonts/GastreetSans/GastreetSans-Regular.ttf') format('truetype'),
        url('../fonts/GastreetSans/GastreetSans-Regular.svg#GastreetSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'Gastreet Sans';
    src:url('../fonts/GastreetSans/GastreetSans-Bold.eot');
    src:url('../fonts/GastreetSans/GastreetSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GastreetSans/GastreetSans-Bold.woff2') format('woff2'),
        url('../fonts/GastreetSans/GastreetSans-Bold.woff') format('woff'),
        url('../fonts/GastreetSans/GastreetSans-Bold.ttf') format('truetype'),
        url('../fonts/GastreetSans/GastreetSans-Bold.svg#GastreetSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;}
* {
    margin: 0;
    padding: 0;}
html {
    font-size: 16px;}
body {
    color: #000;
    font-family: 'Gastreet Sans', sans-serif;
    font-style: normal;
    background-color: #fff;}
.thematik-chef-page .img-faces-page {
    height: 52rem;
    background-image: url(../../../images/main_chef.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;}
.in-all-ticket {
    display: flex;
    justify-content: space-around;
    line-height: 2;
    box-shadow: 0 0 20px 0 #3070a5;}
.in-all-ticket .longtitle {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 3rem;}
.description-header .text {
    margin-bottom: 2rem;
    color: #000;}
.description-header .num {
    font-family: 'Gastreet Font', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #10093B;
    line-height: 1;
    margin-bottom: .3rem}
.in-all-ticket .description-all-ticket {
    padding-top: 2rem;}
.thematik-chef-page .video {
    background-color: #383838;
    height: 35rem;
    margin-bottom: 3rem;}
.thematik-chef-page .video .btn-play {
    width: 6.250rem;
    height: 6.250rem;
    padding: 0;
    border: 0;
    position: absolute;
    top: calc(50% - 3.125rem);
    left: calc(50% - 3.125rem);
    background-image: url(../../../images/btn-play.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;}
    .carousel-fest-page .title-carousel, .carousel-speak-page .title-carousel {
    font-size: 2.1rem;
    color: #12073f;
    font-weight: 600;
    margin-bottom: 3rem;}
#spiakerCarousel {
    margin-bottom: 4rem;}
#spiakerCarousel .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 7px;
    background: #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    border: 1px solid #12073f;}
#spiakerCarousel .owl-dots .owl-dot.active span {
    background-color: #12073f;}
#festCarousel img {
    height: 300px;
    width:auto;}
#festCarousel .owl-nav {
    margin-bottom: 4rem;}
#festCarousel .owl-nav [class*=owl-] {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);}
#festCarousel .owl-nav button {
    left: -23px;
    background-color: #fff;
    font-size: 1.5rem;
    border-radius: 50px;
    width: 3rem;
    height: 3rem;
    text-align: center;
    box-shadow: 0px 0px 6px 0px;}
#festCarousel .owl-nav button.owl-next {
    left: auto;
    right: -23px;}
#festCarousel .owl-nav [class*=owl-]:hover {
    background: #000;}
#festCarousel .longtitle-carousel {
    font-size: 1rem;
    margin-top: 1rem;}
.thematik-chef-page .timetable .time-data {
    text-align: left;}
.thematik-chef-page .timetable .data {
    font-weight: 600;}
.thematik-chef-page .timetable .name-city {
    color: #fff;
    display: block;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;}
.thematik-chef-page .timetable .name {
    text-decoration: underline;
    font-weight: 600;}
.thematik-chef-page .timetable .city {
    font-size: 0.650rem;}
.thematik-chef-page .timetable {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;}
.thematik-chef-page .timetable .timetable-item-bg {
    color: #fff;
    background-color: #b0ca1f;
    text-align: left;  
    height: 100%;}
.thematik-chef-page .timetable .timetable-item-bg .participant {
    position: relative;
    background-repeat: no-repeat;
    background-position: right 15px bottom 0;}
.thematik-chef-page .timetable .timetable-item-bg .participant::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 15px;
    background-color: #fff;
    display: block;}
.thematik-chef-page .timetable .timetable-item-bg .participant img {
    opacity: 0;}
.timetable-page .title-programm {
    font-size: 2.250rem;
    font-weight: 600;}
@media (min-width: 300px) and (max-width: 767px) {
    html {
        font-size: 9px;}
    .thematik-chef-page .img-faces-page {
       height: 28rem;}
    .img-faces-page {
        overflow: hidden;}
    .thematik-chef-page .video {
        height: 22rem;
        margin-bottom: 2.75rem}
    .carousel-fest-page .title-carousel, .carousel-speak-page .title-carousel {
        font-size: 20px;
        margin-bottom: 1rem;}
    .thematik-chef-page .video .btn-play {
        width: 3.250rem;
        height: 3.250rem;
        top: calc(50% - 1.625rem);
        left: calc(50% - 1.625rem);}
    .in-all-ticket {
       font-size: 9px;}
    #festCarousel img {
        height: 213px;}
    #festCarousel .owl-nav button.owl-prev {
        left: -15px;}
    #festCarousel .owl-nav button.owl-next {
        right: -15px;}
    #spiakerCarousel .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;}
    .in-all-ticket-mobile {
        display: flex;
        justify-content: space-around;
        line-height: 2;}
    .in-all-ticket-mobile .longtitle {
        margin-top: 1rem;
        margin-bottom: 2rem;}
    .in-all-ticket-mobile .description-all-ticket {
        margin-top: 2rem;}
    .thematik-chef-page .timedata-menu, .thematik-chef-page .timedata-menu .dropdown-menu .dropdown-item{
        font-size: 1.5rem;
        color: #3070a5}
    .thematik-chef-page .timetable .time-data .calendar {
        text-align: center;
        color: #3070a5;
        font-size: 20px;}
    .thematik-chef-page .timetable .time-data {
        font-size: 12px;}
    .thematik-chef-page .timetable .data {
        font-weight: 600;}
    .thematik-chef-page .timetable .corp {
        text-align: center;
        margin-bottom: 1rem;}
    .thematik-chef-page .drop {
        text-align: center;}
    .timetable-page .title-programm {
        font-size: 1.5rem;
        font-weight: 600;}
    .in-all-ticket .longtitle {
        margin-left: 0;}
    .thematik-chef-page .timetable .timetable-item-bg .participant {
        right: 0;
        top: 0;
        z-index: 1;
        bottom: 0;
        background-position: right bottom;}
    .thematik-chef-page .timetable .timetable-item-bg .participant::after {
        display: none;}
    .timetable .time-data {
        margin-top: -1px;}
}
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 12px;}
    .thematik-chef-page .img-faces-page {
        height: 30rem;}
    #festCarousel img {
        height: 190px;}
    .thematik-chef-page .video  {
        height: 18rem;
        margin-bottom: 4.75rem;}
    .carousel .title-carousel {
        font-size: 20px;
        margin-bottom: 0;}
    .thematik-chef-page .video .btn-play {
        width: 3.250rem;
        height: 3.250rem;
        top: calc(50% - 1.625rem);
        left: calc(50% - 1.625rem);}
    .in-all-ticket {
        display: contents;
        line-height: 2;}
    .thematik-chef-page .logo-page .logo {
        width: 70%;}
    .thematik-chef-page .logo-page {
        margin-left: 0;
        padding: 0;}
    .thematik-chef-page .camo {
        width: 100%;
        left: 0;
        bottom: -4rem;}
    .thematik-chef-page .img-faces-page .faces {
        width: 80%;}
    .thematik-chef-page .img-faces-page .title span {
        font-size: 25px;}
    .thematik-chef-page .img-faces-page .title {
        vertical-align: middle;
        font-size: 12px;
        padding: 0;
        margin-right: 1rem;
        margin-left: 0.3rem;
        margin-top: 1rem;}
    #festCarousel img {
        height: 190px;}
    #festCarousel .owl-nav button.owl-prev {
        left: -15px;}
    #festCarousel .owl-nav button.owl-next {
        right: -15px;}
}
@media (min-width: 992px) and (max-width: 1199px) {
    .thematik-chef-page .main_chef {
        left: 0;
        width: 100%;}
}